@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.admin-table {
	border-collapse: separate;
	border-spacing: 0.05rem 1rem;

	&-row {
		&:first-child {
			border-radius: 0.75rem 0 0 0.75rem;
		}

		&:last-child {
			border-radius: 0 0.75rem 0.75rem 0;
		}
	}

	&-icons {
		height: 1.75rem;
		width: 1.75rem;
		border-radius: 0.35rem;

		&:hover {
			@extend .admin-table-icons;
			cursor: pointer;
		}
	}
}
