@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
	font-family: "Montserrat", sans-serif;
}

html > body {
	background-color: #1c1e1f;
	color: white;
}
