.movie {
	&-modal {
		min-width: 95%;

		@media all and (min-width: 1500px) {
			min-width: 80%;
		}

		&-poster {
			max-height: 40rem;
		}
	}

	&-card {
		transition: all 0.2s;

		&:hover {
			@extend .movie-card;
			transform: scale(1.1);
			box-shadow: 0 0.1rem 1rem #0d0d0d;
		}

		&-img:hover {
			cursor: pointer;
		}

		&-title:hover {
			@extend .movie-card-img;
			font-weight: bold;
		}
	}
}

#movie {
	&-load-more {
		font-weight: bold;
		color: black;

		&:hover {
			color: white;
		}
	}

	&-carousel-overlay {
		background: rgba(0, 0, 0, 0.525);
		background-size: cover;
		padding: 1000em;
		margin-left: -100rem;
		margin-bottom: -100rem;
	}

	&-carousel-caption {
		font-size: 2.5vw;
		color: #ced4daff;
	}

	&-modal-overlay {
		background: rgba(0, 0, 0, 0.9);
		height: 100%;
		width: 100%;
		position: absolute;
		padding: 100px;
		z-index: 1;
	}
}
