@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$dark: #1c1e1f;
$offcanvas-bg-color: $dark;
$offcanvas-color: $light;

$nav-link-color: $light;
$nav-link-hover-color: $warning;
$nav-link-active-color: $warning;
$nav-pills-link-active-color: $black;
$nav-pills-link-active-bg: $warning;
$nav-pills-border-radius: 10px;

$dropdown-dark-link-active-bg: $warning;
$dropdown-dark-link-active-color: $black;

$pagination-color: $dark;
$pagination-focus-color: $dark;
$pagination-focus-bg: $gray-400;
$pagination-focus-box-shadow: $dark;
$pagination-hover-color: $dark;
$pagination-hover-border-color: $white;
$pagination-active-color: $white;
$pagination-active-bg: $dark;
$pagination-active-border-color: $white;
$pagination-border-color: $white;
$pagination-disabled-border-color: $white;
$pagination-disabled-color: $gray-800;

$modal-content-bg: $dark;
$modal-header-border-color: #81786a;
$modal-footer-border-color: #81786a;

$accordion-color: $dark;
$accordion-bg: $accordion-color;
$accordion-button-bg: $gray-600;
$accordion-button-color: shade-color($accordion-color, 70%);
$accordion-button-active-bg: tint-color($secondary, 50%);
$accordion-button-active-color: shade-color($accordion-color, 50%);

@import "~bootstrap/scss/bootstrap";
